h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: verdana;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

header li {
    margin: 15px;
    width: 100%;
}

header a {
    margin: 1px;
    font-size: 20px;
}

header a:hover {
    background-color: #230044;
}

header a:active {
    background-color: white;
}

header .navbar-brand {
    width: 10%;
}

.bg-color {
    background-color: #0c0c0c;
}

@media (min-width: 990px) {

    /* index */
    .home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
    }

    .home .ayaxyprok {
        margin: 15px;
        padding: 10px;
        width: 60%;
        max-width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .titulo {
        font-size: 60px;
        font-weight: 500;
        max-width: 450px;
        margin-bottom: 20px;
    }

    .home .ult-conciertos {
        font-size: 50px;
    }

    .home .concierto {
        margin: 0;
        padding: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        justify-content: space-between;
    }

    .home .conciertos-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .conciertos-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .video {
        width: 350px;
        max-width: 800px;
    }

    .home .concierto div {
        margin: 10px;
    }

    /* shows */
    .home-shows {
        display: flex;
        flex-wrap: wrap;
        min-width: 250px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
        color: white;
        padding: 25%;
        justify-content: space-evenly;
        align-items: stretch;
        font-size: large;
    }

    .home-shows .shows-dos {
        color: #4c075e;
    }

    /* music */
    .home-music {
        display: grid;
        grid-template-areas: "discos discos"
            "ayax-discos prok-discos"
            "disco-duo disco-duo";
        justify-content: center;
        align-content: center;
        align-items: start;
        justify-items: center;
    }

    .home-music .discos {
        grid-area: discos;
    }

    .home-music .ayax-discos {
        grid-area: ayax-discos;
        margin: 10px;
        padding: 5px;
    }

    .home-music .prok-discos {
        grid-area: prok-discos;
        margin: 10px;
        padding: 5px;
    }

    .home-music .disco-duo {
        grid-area: disco-duo;
        margin: 10px;
        padding: 5px;
        font-weight: bold;
    }

    .home-bio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background-color: black;
    }

    .home-bio p {
        margin: 5px 15px 5px 15px;
        padding: 25px;
        font-size: x-large;
    }

    .home-contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: center;
        background-color: black;
        color: white;
        padding: 5%;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .home-contact .info-form {
        margin-bottom: 30px;
        padding: 1em;
        font-size: xx-large;
        font-weight: bold;
    }

    .home-contact .data {
        margin: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .home-contact .campo {
        margin: 10px;
    }

    .home-contact .mensaje {
        margin: 10px;
    }

    .home-contact .btn-enviar {
        margin: 10px;
        padding: 1em;
    }

    /* footer */
    .footer {
        display: grid;
        grid-template-areas: "copyr"
            "redes-uno"
            "redes-dos";
        justify-content: space-evenly;
        align-items: center;
        justify-items: start;
        align-content: center;
    }

    .footer .copyr {
        grid-area: copyr;
    }

    .footer .redes-uno {
        grid-area: redes-uno;
    }

    .footer .redes-dos {
        grid-area: redes-dos;
    }

    .footer .redes {
        width: 10%;
    }
}

@media screen and (max-width: 480px) {
    .home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
    }

    .home .ayaxyprok {
        margin: 15px;
        padding: 10px;
        width: 60%;
        max-width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .titulo {
        font-size: 30px;
        font-weight: 5px;
        text-decoration: underline;
        margin-bottom: 10px;
    }

    .home .ult-conciertos {
        font-size: 20px;
    }

    .home .concierto {
        margin: 0;
        padding: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        justify-content: space-between;
    }

    .home .conciertos-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .conciertos-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .video {
        width: 350px;
    }

    .home .concierto div {
        margin: 5px;
    }

    /* shows */
    .home-shows {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
        color: white;
        padding: 25%;
        justify-content: space-evenly;
        align-items: stretch;
        font-size: medium;
    }

    .home-shows .shows-dos {
        color: #73048f;
        text-decoration: underline;
    }

    .home-music {
        display: grid;
        grid-template-areas: "discos discos"
            "ayax-discos prok-discos"
            "disco-duo disco-duo";
        justify-content: center;
        align-content: center;
        align-items: start;
        justify-items: center;
    }

    .home-music .discos {
        grid-area: discos;
    }

    .home-music .ayax-discos {
        grid-area: ayax-discos;
        margin: 10px;
        padding: 5px;
    }

    .home-music .prok-discos {
        grid-area: prok-discos;
        margin: 10px;
        padding: 5px;
    }

    .home-music .disco-duo {
        grid-area: disco-duo;
        margin: 10px;
        padding: 5px;
        font-weight: bold;
    }

    .home-bio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background-color: black;
    }

    .home-bio p {
        margin: 5px 15px 5px 15px;
        padding: 25px;
        font-size: medium;
    }

    .home-contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: center;
        background-color: black;
        color: white;
        padding: 5%;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .home-contact .info-form {
        margin-bottom: 30px;
        padding: 1em;
        font-size: medium;
        font-weight: bolder;
    }

    .home-contact .data {
        margin: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .home-contact .campo {
        margin: 10px;
    }

    .home-contact .mensaje {
        margin: 10px;
    }

    .home-contact .btn-enviar {
        margin: 10px;
        padding: 1em;
    }

    /* footer */
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        justify-items: start;
        align-content: center;
    }

    .footer .redes {
        width: 10%;
    }
}

@media screen and (min-width: 480px) and (max-width: 990px) {
    .home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
    }

    .home .ayaxyprok {
        margin: 15px;
        padding: 10px;
        width: 60%;
        max-width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .titulo {
        font-size: 50px;
        font-weight: 500;
        max-width: 450px;
        margin-bottom: 20px;
    }

    .home .ult-conciertos {
        font-size: 30px;
    }

    .home .concierto {
        margin: 0;
        padding: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        justify-content: space-between;
    }

    .home .conciertos-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .conciertos-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .home .video {
        width: 350px;
        max-width: 800px;
    }

    .home .concierto div {
        margin: 15px;
    }

    .home-shows {
        display: flex;
        flex-wrap: wrap;
        min-width: 250px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
        color: white;
        padding: 25%;
        justify-content: space-evenly;
        align-items: stretch;
        font-size: large;
    }

    .home-shows .shows-dos {
        color: #8d44a0;
    }

    .home-music {
        display: grid;
        grid-template-areas: "discos discos"
            "ayax-discos prok-discos"
            "disco-duo disco-duo";
        justify-content: center;
        align-content: center;
        align-items: start;
        justify-items: center;
    }

    .home-music .discos {
        grid-area: discos;
    }

    .home-music .ayax-discos {
        grid-area: ayax-discos;
        margin: 10px;
        padding: 5px;
    }

    .home-music .prok-discos {
        grid-area: prok-discos;
        margin: 10px;
        padding: 5px;
    }

    .home-music .disco-duo {
        grid-area: disco-duo;
        margin: 10px;
        padding: 5px;
        font-weight: bold;
    }

    .home-bio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background-color: black;
    }

    .home-bio p {
        margin: 5px 15px 5px 15px;
        padding: 25px;
        font-size: large;
    }

    .home-contact {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: center;
        background-color: black;
        color: white;
        padding: 5%;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .home-contact .info-form {
        margin-bottom: 30px;
        padding: 1em;
        font-size: large;
        font-weight: bold;
    }

    .home-contact .data {
        margin: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .home-contact .campo {
        margin: 10px;
    }

    .home-contact .mensaje {
        margin: 10px;
    }

    .home-contact .btn-enviar {
        margin: 10px;
        padding: 1em;
    }
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: verdana;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
}

.home .ayaxyprok {
    margin: 10px;
    padding: 10px;
    width: 60%;
    max-width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.home .concierto {
    margin: 10px;
    padding: 5px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.home .video {
    width: 100%;
    max-width: 100%;
}

.home .concierto div {
    margin: 10px;
}

footer {
    display: grid;
    grid-template-areas: "copyr copyr"
        "redes-uno redes-dos";
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    align-content: center;
    background-image: linear-gradient(to right, black, grey, gray, grey, black);
}

footer .copyr {
    grid-area: copyr;
}

footer .redes-uno {
    grid-area: redes-uno;
}

footer .redes-dos {
    grid-area: redes-dos;
}

footer .redes {
    width: 10%;
}

.home-shows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 25%;
    justify-content: space-evenly;
    align-items: stretch;
}

.home-music {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}

.home-music .img-discos {
    width: 60%;
    margin: 10px;
}

.home-music .ayp {
    font-weight: bolder;
    text-decoration: underline;
    margin: 15px;
    padding: 20px;
    color: #56205e;
}

.home-music .prok-discos {
    grid-area: prok-discos;
    margin: 10px;
    padding: 5px;
}

.home-music .ayax-discos {
    grid-area: prok-discos;
    margin: 10px;
    padding: 5px;
}

/* bio */
.home-bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
}

.home-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5%;
    justify-content: space-evenly;
    align-items: stretch;
}

.home-contact .info-form {
    margin-bottom: 30px;
    padding: 1em;
}

.home-contact .data {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.home-contact .campo {
    margin: 10px;
}

.home-contact .mensaje {
    margin: 10px;
}

.home-contact .btn-enviar {
    margin: 10px;
    padding: 1em;
}