$size: 20px;
$ancho: 100%;
$violet: rgb(35, 0, 68);
$White: white;
$fondo-color: black;
$tipo-letra: verdana;
$alinear-centro: center;
$parrafoDesktop: 15px;
$parrafoMobile: 10px;
$h1Desktop: 40px;
$h2Desktop: 25px;
$h1Mobile: 18px;
$vista:1024px;