.home-music {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    .img-discos {
        width: 60%;
        margin: 10px;
    }
    .ayp {
        font-weight: bolder;
        text-decoration: underline;
        margin: 15px;
        padding: 20px;
        color: rgb(86, 32, 94);
    }
    .prok-discos {
        grid-area: prok-discos;
        margin: 10px;
        padding: 5px;
    }
    .ayax-discos {
        grid-area: prok-discos;
        margin: 10px;
        padding: 5px;
    }
}



